venv
versions_to_analyze
depends_output
arcan-1.2.1
depends.log
depends-dv8map.mapping
.env
.DS_Store
data
__pycache__
cloned_projects
projects-scraped
erpnext
tensorflow
ANN-dataset
Final-dataset
Final-dataset-binary
